/.zig-cache
/.ss-cache
/third_party/md4c
/zig-out
/editor/vscode/node_modules
/editor/vscode/out
/editor/tree-sitter-ss/node_modules
/editor/zed/extension.wasm
/editor/zed/grammars
/editor/zed/target
